body {
  background-color: var(--color-light);
  display: flex;
  gap: 1rem;
}
.grid {
  display: grid;
}
.hidden {display: none;}
/* ========== containers ========== */
.container { 
  background: var(--color-white);
  box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.03), 0px 59.8943px 43.7385px rgba(0, 0, 0, 0.0202191), 0px 47.6117px 30.6598px rgba(0, 0, 0, 0.0105608), 0px 39.5186px 22.4335px rgba(0, 0, 0, 0.0031587);
  border-radius: 1rem;
}
.section {
  padding: 1rem;
}
.page {
  width: 100%;
}
.page__title {
  padding-left: 2rem;
  font-weight: 700;
}
.section__title {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.section__title-text { 
  font-weight: 500;
  white-space: pre;
}
.section__title-item {
  display: inline-block;
  width: .75rem;
  height: .75rem;
  border-radius: 50%;
  background: var(--color-primary);
  box-shadow: 0 0 0 .25rem var(--color-primary-0-5);
}
/* ========== navbar ========== */
.header {
  width: 220px;
  max-width: 220px;
  position: fixed;
  transition: width 0.5s ease-in-out;
  z-index: 10;
}
.nav {
  background: var(--color-light);
  min-width: 80px;
  height: 100vh;
  max-width: 200px;
  padding: 1rem 0;
  display: flex;
  flex-flow: column nowrap;
  gap: 1rem;
  align-items: center;
  overflow: hidden;
}
.nav__logo {
  font-weight: 700;
  font-size: 2rem;
}
.nav__profile {
  display: flex;
  flex-flow: column;
  gap: .5rem;
  align-items: center;
}
.nav__img {
  width: 80px;
  transition: width 0.5s ease-in-out;
 }
.nav__user {
  font-size: var(--small-title);
  font-weight: 500;
  text-align: center;
  transition: font-size 0.5s ease-in-out;
}
.nav__list {
  grid-template-columns: 1fr;
  grid-template-rows: repeat(7,minmax(32px, 40px));
  gap: 1rem;
  width: 100%;
  padding-left: 1rem;
}
.nav__item {
  display: flex;
  justify-content:flex-start;
  align-items: center;
  padding-left: 1rem;
}
.nav__link {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  color: var(--color-gray);
  transition: color .4s ease-in-out;
}
.nav__link:hover {
  color: var(--color-secondary);
}
.nav__icon {
  font-size: var(--small-title);
}
.nav__item--active {
  background: var(--color-primary-0-5);
  border-radius: .5rem 0px 0px .5rem;
}
.nav__item--active .nav__link {
  color: var(--color-primary);
}
.nav__toggle {
  position: absolute;
  right: -3.5rem;
  top: 1rem;
  color: var(--color-primary);
  background: var(--color-white);
  padding: 0.25rem;
  border-radius: 0.5rem;
  box-shadow: 0 2px 3rem rgba(0, 0, 0, 0.08);
  cursor: pointer;
  transition: box-shadow .4s ease-in-out, display 0.5s ease-in-out;
}
.nav__toggle:hover {
  box-shadow: none
}
.nav__toggle:active {
  box-shadow: inset 0 2px 1rem rgba(0, 0, 0, 0.08);
}
.btn-icon {
  display: none;
}
/* ---- nav zipped---- */
.nav__menu-active {
  display: block;
}
.nav__zipped {
  width: 80px;
  position: sticky;
  top: 0;
}
.nav__zipped-img {
  width: 60px;
}
.nav__zipped-user {
  font-size: var(--subtitle);
}
/* ========== modal and buttons ========== */
.btn-icon{
  font-size: var(--big-title);
}

@media screen and (min-width: 768px) {
  body {
    gap: 2rem;
  }
  .header {
    position: sticky;
    top: 0;
    max-width: 220px;
  }
  .page {
    padding: 1rem 0;
  }
}