<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- ========== default styles and icons ========== -->
  <link rel="stylesheet" href="../../styles/normalize.css">
  <link rel="stylesheet" href="../../styles/overall-styles.css">
  <link rel="stylesheet" href="../../styles/style-icon.css">

  <!-- ========== styles for view user ========== -->
  <link rel="stylesheet" href="styles/style.css">
  <!-- ========== styles only this page ========== -->
  <link rel="stylesheet" href="styles/home.css">
  <title>Principal</title>
</head>
<body>
  <!-- ========== navbar ========== -->
  <header class="header">
    <nav class="nav container">
      <a href="#" class="nav__logo logo logo--white">Isis</a>
      <div class="nav__menu" id="nav__menu">
        <ul class="nav__list grid">
          <!-- items nav -->
          <li class="nav__item">
            <a href="#" class="nav__link"><i class="isax isax-home"></i>Principal</a>
          </li>
          <li class="nav__item">
            <a href="#" class="nav__link">
              <i class="isax isax-shop"></i>Productos</a>
          </li>
          <li class="nav__item">
            <a href="#" class="nav__link"><i class="isax isax-bag"></i>Mi bolsa</a>
          </li>
          <li class="nav__item">
            <div class="search">
              <!-- <label class="search__label" for="search">Buscar</label> -->
              <input type="text" name="search" id="search" class="search__input" placeholder="Buscar">
              <i class="isax isax-search-favorite search__icon"></i>
            </div>
          </li>
          <li class="nav__item">
            <a href="#" class="nav__link btn btn-white">Registro</a>
          </li>
          <li class="nav__item">
            <a href="#" class="nav__link btn btn-white-outline">Iniciar</a>
          </li>
        </ul>
        <i class="isax isax-close-circle nav__close" id="nav__close"></i>
      </div>
      <div class="nav__btn">
        <div class="nav__toggle" id="nav__toggle">
          <i class="isax isax-arrow-circle-up"></i>
        </div>
      </div> 
    </nav>    
  </header>
  <main class="main">
    <!-- ========== hero ========== -->
    <section class="hero section">
      <div class="hero__logo logo logo--white">Isis</div>
      <div class="hero__about">
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Praesentium reprehenderit, qui veniam, repellat consectetur ut quod nemo quasi facilis maiores vel eum mollitia porro excepturi aperiam magni libero? Nihil, atque.</p>
      </div>
      <div class="hero__content">
        <div class="hero__img">
          <img src="assets/img/mbl-hero-img-1.webp" alt="woman mask">
        </div>
        <a class="hero__btn btn btn-secondary">Ver productos</a>
      </div>
    </section>
  
    <!-- ========== recent products ========== -->
    <section class="offer section">
      <div class="offer__content">
        <!-- data -->
        <div class="offer__data">
          <h2 class="offer__product">Name</h2>
          <p class="offer__description">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quibusdam, qui.</p>
          <span class="offer__quantity">25 units</span>
          <span class="offer__price">$250.00</span>
          <a href="#" class="offer__btn btn btn-primary">Agregar a carro<i class="isax isax-arrow-right offer__icon"></i></a>
        </div>
        <!-- image -->
        <div class="offer__img">
          <img src="assets/img/offer-img.webp" alt="img">
          <span class="offer__tag"></span>
        </div>
      </div>
    </section>
    <!-- ========== our services ========== -->
    <section class="service section">
      <h2 class="subtitle">Nuestro servicios</h2>
      <div class="service__content">
        <div class="service__item">
          <div class="service__circle">
            <img class="service__img" src="assets/img/mbl-service-1.webp" alt="Servicio de delivery">
          </div>
          <div class="service__name">Delivery</div>
        </div>
        <div class="service__item">
          <div class="service__circle">
            <img class="service__img" src="assets/img/mbl-service-2.webp" alt="Producto medicos">
          </div>
          <div class="service__name">Medicina</div>
        </div>
        <div class="service__item">
          <div class="service__circle">
            <img class="service__img" src="assets/img/mbl-service-3.webp" alt="Soporte al cliente">
          </div>
          <div class="service__name">Chat 24/7</div>
        </div>
      </div>
    </section>
    <!-- ========== cards accepted ========== -->
    
    <!-- ========== btn register ========== -->

    <!-- ========== Import scripts for animations ========== -->
</main>
  <script src="js/animations.js"></script>
</body>
</html>