<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- ========== default styles and icons ========== -->
    <link rel="stylesheet" href="../../styles/normalize.css">
    <link rel="stylesheet" href="../../styles/style-icon.css">
    <link rel="stylesheet" href="../../styles/overall-styles.css">

    <!-- ========== styles for view delivery-man ========== -->
    <link rel="stylesheet" href="styles/styles.css">
    <!-- ========== styles only this page ========== -->
    
  <title>Perfil</title>
</head>
<body>
  <!-- ========== navbar ========== -->
  <header class="container">
    <nav class="nav">
      <a href="orders.html" class="nav__logout">
        <i class="isax isax-logout nav__icon"></i>
        <span class="nav__text">Atras</span>
      </a>
      <div class="nav__logo">
        <h1 class="logo logo--gradient">Icis</h1>
      </div>
      <div class="nav__profile">
        <img src="assets/img/photo-user.webp" alt="user" class="nav__img">
      </div>
    </nav>
  </header>

  
</body>
</html>